<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>course details</title>
</head>
<body>
<h4>Create a part of the course:</h4>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ part_form.title }}
    {{ part_form.course_id }}
<!--        <input type="hidden" name="course_id" value="{{ course.title }}">-->
    <button type="submit">Create Part</button>
</form>
<h4> Course name: {{ course.title }} </h4>
<h4>Course Parts</h4>
<ul>
    {% for part in parts %}
    <li>
        <p>Part name: {{ part.title }}</p>
        <a href="{% url 'update_part' part.id %}">Edit</a>
        <a href="{% url 'delete_part' part.id %}">Delete</a>
        <a href="{% url 'part_details' course.id part.id %}">To part {{ part.title }} details</a>
    </li>
    {% endfor %}
</ul>
</body>
</html>
