
{% extends 'base.html' %}

{% block title %}Part Details{% endblock %}

{% block part_details %}
<h4> Course name: {{ course.title }} </h4>
<h4>Part name: {{ part.title }}</h4>
<h4>Create a topic of the course:</h4>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ topic_form.title }}
    {{ topic_form.part_id }}
    <button type="submit">Create Topic</button>
</form>
<h4>Part Topics</h4>
<ul>
    {% for topic in topics %}
    <li>
        <p>Topic name: {{ topic.title }}</p>
        <a href="{% url 'update_topic' topic.id %}">Edit</a>
        <a href="{% url 'delete_topic' topic.id %}">Delete</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
