<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Coures App{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home Page</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'courses_list' %}">See all courses...</a></li>
            <li><a href="{% url 'document_list' %}">See Courses Documents...</a></li>

            <li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </li>

            {% else %}
            {% if request.resolver_match.url_name != 'login' %}
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            {% if request.resolver_match.url_name != 'register' %}
            <li><a href="{% url 'register' %}">Register1</a></li>
            {% endif %}
            {% endif %}
        </ul>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
    {% block part_details %}
    {% endblock %}
    {% block update_part %}
    {% endblock %}
    {% block delete_part %}
    {% endblock %}
    {% block update_topic %}
    {% endblock %}
    {% block delete_topic %}
    {% endblock %}
</main>

<footer>
    <p>&copy; 2023 Courses app</p>
</footer>

{% block scripts %}
{% endblock %}
</body>
</html>
